<p id="notice"><%= notice %></p>

<h1>Fictional Things</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fictional_things.each do |fictional_thing| %>
      <tr>
        <td><%= fictional_thing.title %></td>
        <td><%= link_to 'Show', fictional_thing %></td>
        <td><%= link_to 'Edit', edit_fictional_thing_path(fictional_thing) %></td>
        <td><%= link_to 'Destroy', fictional_thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fictional Thing', new_fictional_thing_path %>
